


# Include the README
include *.md

# Include the license file
include LICENSE

# Include setup.py
include setup.py

# Include the data files
include mstm_studio/images/*.png
include mstm_studio/nk/eta*.txt





